---
import Book from "@/icons/Book.astro"
import Point from "@/icons/Point.astro"

const  { title, description, place  } = Astro.props
---
<article>
    <div class="title">
        <Book />
        <h1>{title}</h1>
    </div>
    <div class="place">
        <Point />
        <h4>{place}</h4>
    </div>
    <p>{description}</p>
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        border: 1px solid #ccc;
        margin: 2rem;
        border-radius: 0.35rem;
        gap: 0.8rem;
        width: 300px;
    }
    .title{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .place {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

</style>