---

---
<nav id="navbar">
    <h1>
        <a href="javascript:void(0)" onclick="window.scrollTo(0, 0);">  
            NZ
        </a>
    </h1>
    <ul>
        <li><a href="#skills">Tecnologías y habilidades</a></li>
        <li><a href="#education">Educación</a></li>
        <li><a href="#">Services</a></li>
        <li><a class="contact" href="#contact">Contact</a></li>
    </ul>
</nav>

<style>
    nav {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80%;
        padding: 0.5rem 0 0 0;
        position: sticky;
        top: 0;
        background-color: white;
    }
    ul{
        display: flex;
        gap: 1.5rem;
    }
    .contact{
        border: 1px solid grey;
        padding: 0.5rem 0.5rem;
        border-radius: 5px;
    }
</style>
